body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: white;
    text-align: center;
}

nav button {
    margin:5px;
    padding:10px;
    border-radius:10px;
    border:none;
    background:#00c6ff;
    color:white;
}

.card {
    background: rgba(255,255,255,0.1);
    padding:20px;
    border-radius:20px;
    width:90%;
    max-width:320px;
    margin:auto;
}

.emoji {
    font-size:60px;
}

.aba {display:none;}
.ativa {display:block;}

button {
    margin-top:10px;
    padding:10px;
    border-radius:10px;
    border:none;
    background:#0072ff;
    color:white;
}

#opcoesEmoji button {
    font-size:30px;
    margin:5px;
}